body {
  margin: 10px;
  font-family: sans-serif;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.content {
  text-align: center;
}

.tab {
  margin-left: auto;
  margin-right: auto;
}
